.u-section-2 .u-sheet-1 {
  min-height: 889px;
}

.u-section-2 .u-text-1 {
  margin: 14px 313px 0 auto;
}

.u-section-2 .u-gallery-1 {
  width: 430px;
  height: 401px;
  grid-gap: 10px;
  margin: -53px auto 0 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  margin: -308px auto 0 466px;
}

.u-section-2 .u-text-3 {
  margin: 28px auto 0 466px;
}

.u-section-2 .u-group-1 {
  width: 654px;
  min-height: 373px;
  height: auto;
  margin: 65px 36px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 0;}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 224px 60px auto;
  padding: 21px 107px 23px 106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 384px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 384px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 198px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 294px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 294px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 221px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 221px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 139px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}