 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 360px;
  height: 360px;
  background-image: url("/static/media/errir500.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-size: 12.5rem;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-style: normal;
  text-transform: none;
  width: 735px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  align-self: center;
  margin: 30px auto 60px;
  padding: 17px 81px 19px 79px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}