{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <section class="u-clearfix u-container-align-center u-image u-image-contain u-section-1" id="sec-1f19"
             data-image-width="3224" data-image-height="1076">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-df57">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-lobster u-text u-text-default u-text-palette-5-dark-1 u-text-1">Joke!!!</h2>
            <p class="u-text u-text-default u-text-2">{{ joke }}</p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-b734">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-custom-font u-font-lobster u-text u-text-default u-text-palette-5-dark-1 u-text-1">Cat
                Chat</h2>
            <div class="u-expanded-width u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-width-fixed u-gallery-1">
                {#          <div class="u-gallery-inner"><div class="u-effect-fade u-gallery-item u-gallery-item-1"><div class="u-back-slide" data-image-width="652" data-image-height="977"><img class="u-back-image u-back-image-1" src="images/2f6e485c2571109ff872370245a252e6.jpg">#}
                {#          <div class="u-gallery-inner"><div class="u-effect-fade u-gallery-item u-gallery-item-1"><div class="u-back-slide" data-image-width="652" data-image-height="977"><img class="u-back-image u-back-image-1" src="{%  static '/forum/images/2f6e485c2571109ff872370245a252e6.jpg' %}">#}
                <div class="u-gallery-inner">
                    <div class="u-effect-fade u-gallery-item u-gallery-item-1">
                        <div class="u-back-slide" data-image-width="652" data-image-height="977"><img
                                class="u-back-image u-back-image-1" src="{{ cat_of_the_day }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="556" data-image-height="552"><img class="u-back-image u-back-image-2" src="images/c7fb959d6b7b7de1829ff87ae8c1befb.jpg">#}
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="556" data-image-height="552"><img class="u-back-image u-back-image-2" src="{%  static '/forum/images/c7fb959d6b7b7de1829ff87ae8c1befb.jpg' %}">#}
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-2">
                        <div class="u-back-slide" data-image-width="556" data-image-height="552"><img
                                class="u-back-image u-back-image-2" src="{{ cat_of_the_day1 }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-3"><div class="u-back-slide" data-image-width="490" data-image-height="750"><img class="u-back-image u-back-image-3" src="images/594f2f795ffe577d43ac7cdbfb9d053f.jpg">#}
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-3">
                        <div class="u-back-slide" data-image-width="490" data-image-height="750"><img
                                class="u-back-image u-back-image-3" src="{{ cat_of_the_day2 }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-4"><div class="u-back-slide" data-image-width="393" data-image-height="698"><img class="u-back-image u-back-image-4" src="images/bd21b50ec07c99d0c246955f5032f7a4.jpg">#}
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-4">
                        <div class="u-back-slide" data-image-width="393" data-image-height="698"><img
                                class="u-back-image u-back-image-4" src="{{ cat_of_the_day3 }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-5"><div class="u-back-slide" data-image-width="564" data-image-height="376"><img class="u-back-image u-back-image-5" src="images/8d026eb5a27fa4805cc7b071c26794dd.jpg">#}
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-5">
                        <div class="u-back-slide" data-image-width="564" data-image-height="376"><img
                                class="u-back-image u-back-image-5" src="{{ cat_of_the_day4 }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                        {#</div><div class="u-effect-fade u-gallery-item u-gallery-item-6"><div class="u-back-slide" data-image-width="426" data-image-height="584"><img class="u-back-image u-back-image-6" src="images/a15ea497bc921518d042a1dc2c7f487e.jpg">#}
                    </div>
                    <div class="u-effect-fade u-gallery-item u-gallery-item-6">
                        <div class="u-back-slide" data-image-width="426" data-image-height="584"><img
                                class="u-back-image u-back-image-6" src="{{ cat_of_the_day5 }}">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6"><h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
                   href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                    <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                </a>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
                   href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                    <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                </a>
            </div>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">

                    <h1>Categories</h1>
                    {% if user.is_superuser %}
                        <div>
                            <a href="{% url 'category_create' %}"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-dark-1 u-radius-6 u-btn-1">Create
                                Category</a>
                        </div>
                    {% endif %}
                    {#              ------------------- first post----------------------#}
                    {% for category in object_list %}
                        <div class="u-container-style u-custom-item u-list-item u-palette-3-light-3 u-radius-30 u-repeater-item u-shape-round"
                             data-href="Forum.html" title="Forum">
                            <div class="u-container-layout u-similar-container u-container-layout-1">
                                <div class="u-shape u-shape-svg u-text-palette-5-dark-1 u-shape-1">
                                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" style="">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8446"></use>
                                    </svg>
                                    <svg class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-8446"
                                         style="enable-background:new 0 0 160 150;">
                                        <path d="M96.9,124.1c12.9,1.3,17.4,5.4,19.7,17.7c0.2,1.2,0.8,2.2,1.5,3.2c4.1,5.3,16.4,6.8,21.7,2.6c2.8-2.2,3.8-5.1,3.3-8.5
	c-0.6-3.6-2.6-6.2-6.2-7.1c-2.6-0.6-3.3-1.9-3.1-4.2c0.1-1.3,0.1-2.6,0-3.9c-0.7-8.5,0.7-16.1,5.7-23.7c6.7-10.1,8.1-22.2,7.3-34.2
	c-0.3-4.8,0.9-8.2,5.4-10.3c4.9-2.3,6.3-6.5,7.1-11.5c1.4-8.8,1.6-8.8-5.9-13.4c-2.3-1.4-4.1-3-5.6-5.3c-3.3-4.8-8-7.9-13.8-8.8
	c-2.9-0.4-3.8-1.7-3.6-4.4c0.2-2.5,0.1-5,0-7.5c0-2.4-1.1-4.1-3.5-4.7c-2.5-0.6-4.2,0.6-5.2,2.8c-1.7,4-3.4,8.1-5.1,12.1
	c-0.6,1.6-1.7,2.7-3.2,3.5c-9.8,5.2-14.8,13.4-15.1,24.4c0,1.9,0,3.8,0,5.7c0,9.4-4.1,13.5-13.5,13.5c-13.8,0-25.5,4.9-34.7,15
	c-6.9,7.5-11,16.4-11.4,26.6c-0.3,8.4-0.1,16.8-0.2,25.2c0,4,1.6,7.6,3.2,10.8c-0.4,1-1.1,1-1.6,1c-7.1,0-14.1,0.6-21.2,0.5
	c-4.8-0.1-8.1-2.7-9.4-6.9c-1.1-3.6,0.3-7.7,3.5-10.1c2-1.5,4.4-1.7,6.8-1.9c3.7-0.2,5.8-1.9,5.7-4.6c-0.1-2.7-2.3-4.2-6-4.2
	C9.1,113.4,0.7,120.6,0,130.4s6.5,18.1,16.9,19.4c1.3,0.2,2.6,0.2,3.9,0.2c27,0,54.1,0,81,0c4.7,0,4.7,0,4.7-4.7
	c0-8.5-2.5-11.6-11-11.6c-1,0-1.9,0-2.9,0c-4.3-0.1-6-1.7-6-6.1c-0.1-5.9,0-11.8,0-17.8c-0.1-10.3-7.2-17.9-17.6-19
	c-0.8-0.1-1.7-0.2-2.5-0.4c-2.7-0.6-4.3-2.3-4.1-5c0.2-2.9,2.1-4.5,5-4.6c4.5-0.1,8.8,0.9,12.8,3c10.8,5.7,16.1,14.8,16.4,26.8
	C97,115.2,96.9,119.6,96.9,124.1z M145.1,35c0.1,2.6-2,4.8-4.6,5c-2.6,0.1-5-2.2-5-4.9c0-2.6,2.1-4.7,4.8-4.7
	C142.9,30.3,145.1,32.3,145.1,35z"></path>
                                    </svg>
                                </div>
                                <h2 class="u-text u-text-default u-text-2">
                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-5-dark-2 u-btn-1"
                                       href="{% url 'subcategory' pk=category.pk %}">{{ category.title }}<span
                                            class="u-text-black"></span>
                                    </a>
                                </h2>
                                {% if user.is_superuser %}
                                    <a href="{% url 'category_edit' category.pk %}"
                                       class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-dark-1 u-radius-6 u-btn-1 u-text-3">Edit
                                        category</a>
                                {% endif %}
                                {% for subcategory in category.subcategories %}
                                    <p class="u-text u-text-default u-text-3"><a
                                            href="{% url 'topics' pk=category.pk ek=subcategory.pk %}">{{ subcategory.title }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    {% for category in page_obj %}
                        {{ category.full_name }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if page_obj.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}

    </section>
{% endblock %}